<h1 class="pb-4">Categories</h1>

<nav aria-label="breadcrumb">
 <ol class="breadcrumb">
   <li class="breadcrumb-item"><a href="/">Home</a></li>
   <li class="breadcrumb-item active" aria-current="page">Library</li>
 </ol>
</nav>

<div class="row row-cols-2 cat-sec row-cols-lg-3">
  <% if(Categories !=""){ %>
    <% Categories.forEach((cat)=>{ %>
      <a href="#" class="col text-center cat-link ">
        <img src="img/<%- cat.image %>"  class="img-cat" alt="">
        <p class="p-cat"><%- cat.name %></p>
      </a>
    <% }) %>
  <% } %>
  </a>
</div>
